<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ExemploEF</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    
</head>
<body>
    <header>
        <div class="navbar navbar-inverse bg-inverse" role="navigation">
            <div class="navbar-brand"> @Html.ActionLink("Lista de Produtos","Index","Produto")</div>
        </div>
        <div class="row m-1 p-1">
            <div id="categoria" class="col-3"> Insira um conteúdo útil aqui </div>
            <div class="col-9">
                <!--renderiza a área de conteúdo-->
                @RenderBody()
            </<div>

        </div>                
</body>
</html>
